# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
powershell.cmd

src/assets/JAMAL LABELED IMAGES/OLELESHWA LOBBY DRONE SHOT.mp4
src/assets/JAMAL LABELED IMAGES/OLELESHWA LOBBY DRONE SHOT.mp4
src/assets/JAMAL LABELED IMAGES/OLELESHWA LOBBY DRONE SHOT.mp4
.git_old/
.env
.env.*
!.env.example
